@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604943446814'); /* IE9 */
  src: url('iconfont.eot?t=1604943446814#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjwAAAI+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEZQE2AiQDCAsGAAQgBYRtBzMbjgXIHpIkgSoIFCWQDgAAEw//rb3eNzshAJUTCagRNJDQ+TYqVbXVYMRXop519e7/tOXGZggbf2O5U6ylbsrO/HanLw1LoXAaZcBhi3CUwLPPczm9CXQg8wOd6CG0N401+ehegAkGugdGkZVQxg1jF7zAxwQajRqp7d08baErs1cF4iUKHOgWcrLMmvVCbcPBLD6pUZ/e0zc+ou/HPyvRJakp2GOHd9c+nP1MTltRKStuA0KegI7XoMAykInTxtq+hmBcQ2OtaRIcazj4qSyDqDhqSLC/zh5sBsPQ/EwWz/qogwnkRN81zDLpMlJz3UWj6ewwSI1xuoegSVNocDO/5/sPO7vb76roQFXuKt+fvla/VZ+dgT8rPqehGoK3gfXSOl37X9+UwY9f9jCYDUuA+t3Eg99hGajLhs2OpKxZGhNJ16SVCY0aUcKpTn9T/T3nboV6PXeQqDOSoVBvmszsMmo0WUWteptotOT2eJMuoiFyAxZ9AoR2X0haVVFo90NmtkKNXv+o1R4NNDqPrgubzEbU3xVylHx03zHyODduTPvx8JqC59SRvC3i9yRlVMT5ZFZu3lJOssSW8iVYqBo0whnegOcoTRkL4Zg8nYSqxWo6NU1vmnicQd8uQRyK+JDrHYp4WM4E01W/8vk1EniWckiHpq7cI6IUzY7mJmYDyFt3PkjzKK+UXgQWlDKQIVgG3YB5JJViqGieFyMeNRFOqBRWps4kM9Q92T6fqbNVNAqkwDsKDa+OJD6/5nMA') format('woff2'),
  url('iconfont.woff?t=1604943446814') format('woff'),
  url('iconfont.ttf?t=1604943446814') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604943446814#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmarkdown1:before {
  content: "\e602";
}

